<!DOCTYPE html>
<html>
<head>
	<title>Python Flask Website</title>
	<link rel="stylesheet" type="text/css" media=screen href="../static/main.css" />
</head>
<body>
<h1>This is the list of valid urls to control the lights</h1>
<table>
	<tr>
		<th>Path</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><pre>{host}/ledon</pre></td>
		<td>Turns on the LED light strip</td>
	</tr>
	<tr>
		<td><pre>{host}/ledoff</pre></td>
		<td>Turns off the LED light strip</td>
	</tr>
	<tr>
		<td><pre>{host}/ledset?rgb=RRRGGGBBBWWW</pre></td>
		<td>Set the LED color to the specified RGB value (values 0-255) with specified brightness (value 0-255)</td>
	</tr>
	<tr>
		<td><pre>{host}/ledrainbow</pre></td>
		<td>Set the LED color to fade though the colors of the rainbow</td>
	</tr>
</table>
</body>
</html>
